<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="linjin.com.umeng">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5726f55fe0f55aabf0000e22"/>

        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="bb7d834dad494d471a4fd1c013d83bbc" />
            
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="LinJin" />

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>
